.profile-sidebar {
  border: 1px solid #1b2a52;
}

.profile-card {
  border: 1px solid #1b2a52;
}

.profile-sidebar img {
  border: 4px solid #fff;
}

.profile-sidebar p {
  cursor: pointer;
}

.profile-sidebar a {
  text-decoration: none;
}

